.ematicones {
    min-height: 100vh;
    padding: 68px 24px 0px 24px;
    .flip-card {
        margin: 12px 24px;
        .v-card {
            box-shadow: none;
            cursor: pointer;
            .front-card {
                height: 270px;
                padding: 8px 8px 42px 8px;
                display: flex;
                flex-direction: column;
                background-color: #e0bc2a;
                border-radius: 4px;
                .top-title {
                    flex: 0 1 auto;
                    border: 2px solid black;
                    border-radius: 15px;
                    padding: 2px;
                    font-family: "BelerenSmallBold";
                    font-size: 16px;
                    font-weight: bold;
                    text-align: center;
                    background-color: white;
                    color: black;
                }

                .bottom-container {
                    .bottom-circle {
                        border: 2px solid black;
                        height: 50px;
                        width: 50px;
                        border-radius: 50px;
                        position: fixed;
                        bottom: 6px;
                        right: 75px;
                        background-color: white;
                        z-index: 0;
                    }
                    .bottom-field {
                        position: absolute;
                        bottom: 16px;
                        z-index: 1;
                        flex: 0 1 auto;
                        border: 2px solid black;
                        background-color: white;
                        border-radius: 15px;
                        width: 184px;
                        height: 30px;
                    }
                    .bottom-border-fix {
                        border: 2px solid white;
                        border-radius: 2px;
                        position: absolute;
                        bottom: 16px;
                        right: 82px;
                        width: 36px;
                        height: 30px;
                        z-index: 2;
                    }
                    .bottom-text {
                        font-family: "BelerenSmallBold";
                        font-size: 16px;
                        font-weight: bold;
                        text-align: center;
                        color: black;
                        width: 184px;
                        position: absolute;
                        z-index: 3;
                    }
                }

                .main-content {
                    flex: 1 1 auto;
                    background-color: white;
                    margin: 0px 4px;
                    border-radius: 10% / 80%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-right: 2px solid black;
                    border-left: 2px solid black;
                    .img-container {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
            .back-card {
                height: 270px;
                width: 200px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: "BelerenSmallBold";
                font-size: 24px;
                color: black;
            }
        }
    }
}
